.result-card {
  display: flex;
  flex-direction: column;
  gap: $space-300;

  @include respond-to($breakpoint-medium) {
    box-shadow: 0 1.5rem 2.5rem 0.5rem $pale-blue;
    border-radius: $border-radius-400;
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    height: 32rem;
    max-width: 736px;
    width: 100%;
  }
}

@import "../components/_result-card-header";
@import "../components/_result-card-footer";
