@mixin flex-column($gap: 0, $align: flex-start) {
  align-items: $align;
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin summary-item-color($color) {
  background-color: hsla(
    hue($color),
    saturation($color),
    lightness($color),
    0.1
  );
  color: $color;
}

@mixin respond-to($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
