// COLORS
// Primary
$light-red: hsl(0, 100%, 67%);
$orange-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);

// Gradients
$light-slate-blue-background: hsl(252, 100%, 67%);
$light-royal-blue-background: hsl(241, 81%, 54%);
$violet-blue-circle: hsla(256, 72%, 46%, 1);
$persian-blue-circle: hsla(241, 72%, 46%, 0);

// Neutral
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

// TYPOGRAPHY
$font-name: "Hanken Grotesk", sans-serif;
$font-size-900: 4.5rem;
$font-size-725: 3.625rem;
$font-size-400: 2rem;
$font-size-300: 1.5rem;
$font-size-225: 1.125rem;
$font-size-200: 1rem;

// SPACING
$space-500: 2.5rem;
$space-475: 2.375rem;
$space-425: 2.125rem;
$space-375: 1.875rem;
$space-300: 1.5rem;
$space-250: 1.25rem;
$space-225: 1.125rem;
$space-200: 1rem;
$space-175: 0.875rem;
$space-150: 0.75rem;
$space-100: 0.5rem;
$space-25: 0.125rem;

// BORDERS
$border-radius-400: 2rem;
$border-radius-100: 0.5rem;

// BREAKPOINTS
$breakpoint-medium: 736px;
